<apex:page controller="AddTaskFromProjectTemplate" showHeader="false" language="{!locale}">
	<B>{!$Label.tms__list_of_templates}</B><p/>
	{!$Label.tms__select_project_template_from_which_you_want_to_add_task_to_the_current_project}<p/>
	<apex:form >
	<apex:pageBlock >
		<apex:pageBlockSection >
			<apex:selectList value="{!projectTemplate}" size="1">
				<apex:selectOptions value="{!radioButtonItems}"/>
			</apex:selectList>
			<apex:commandButton action="{!addTask}" value="{!$Label.tms__add_task}" />
		</apex:pageBlockSection>
	</apex:pageBlock>
	</apex:form>
</apex:page>