<apex:page controller="TimesheetSiteSetupController" language="{!locale}">
	<style type="text/css">
		.mainTitle {
			font-family: Tahoma;
			font-size: 14px;
		}

		.label {
			font-family: Arial;
			color: #4a4a56;
			font-weight: bold;
			font-size: 11px;
		}

		.p1 {
			-webkit-margin-before: 5px;
			-webkit-margin-after: 0;
		}
	</style>
<apex:form id="mainForm">
	<apex:pageMessages />


	<apex:pageBlock title="{!$Label.tms__timesheet_site_setup}" mode="edit" id="pageBlock">
		<br />
		<apex:commandButton id="SetupButton" action="{!setSiteSetupForTimesheet}"
				rerender="mainForm" value="{!$Label.tms__setup}" />
	</apex:pageBlock>

	<apex:pageBlock title="{!$Label.tms__generate_week_managements}" id="weeksCreationBlock">
		<table>
			<tr>
				<td>
					<p class="p1"><apex:outputLabel value="{!$Label.tms__start_date}" for="start_date" styleClass="label" /></p>
				</td>
				<td>
					<apex:inputField value="{!week.Start_Date__c}" id="start_date" />
				</td>
			</tr>

			<tr>
				<td>
					<p class="p1"><apex:outputLabel value="{!$Label.tms__end_date}" for="end_date" styleClass="label" /></p>
				</td>
				<td>
					<apex:inputField value="{!week.End_Date__c}" id="end_date" />
				</td>
			</tr>

			<tr>
				<td>
					<p class="p1"><apex:outputLabel value="{!$Label.tms__active}" for="active" styleClass="label" /></p>
				</td>
				<td>
					<apex:inputField value="{!week.Active__c}" id="active" />
				</td>
			</tr>

			<tr>
				<td>
					<p class="p1"><apex:outputLabel value="{!$Label.tms__generate}" for="generate" styleClass="label" /></p>
				</td>
				<td>
					<apex:inputField value="{!week.Generate__c}" id="generate" />
				</td>
			</tr>
		</table>

		<br />
		<apex:commandButton value="{!$Label.tms__generate_week_managements}" action="{!generateWeekManagements}" />
	</apex:pageBlock>
</apex:form>
</apex:page>